POSTGRES_USER=postgres
POSTGRES_PASSWORD=root_password_2026
POSTGRES_DB=auth_db
POSTGRES_PORT=5432

DATABASE_URL="postgresql://postgres:root_password_2026@localhost:5432/auth_db?schema=public"
AUTH_SERVICE_HOST=auth-service
AUTH_SERVICE_PORT=3001

EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=587
EMAIL_USER="your_email@gmail.com"
EMAIL_PASSWORD="your_app_password"
EMAIL_FROM="NexoPet <your_email@gmail.com>"
EMAIL_TLS_REJECT_UNAUTHORIZED="false"